Source: ros-kinetic-ecl-geometry
Section: misc
Priority: extra
Maintainer: Daniel Stonier <d.stonier@gmail.com>
Build-Depends: debhelper (>= 9.0.0), ros-kinetic-catkin, ros-kinetic-ecl-build, ros-kinetic-ecl-config, ros-kinetic-ecl-containers, ros-kinetic-ecl-exceptions, ros-kinetic-ecl-formatters, ros-kinetic-ecl-license, ros-kinetic-ecl-linear-algebra, ros-kinetic-ecl-math, ros-kinetic-ecl-mpl, ros-kinetic-ecl-type-traits
Homepage: http://wiki.ros.org/ecl_geometry
Standards-Version: 3.9.2

Package: ros-kinetic-ecl-geometry
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-kinetic-ecl-build, ros-kinetic-ecl-config, ros-kinetic-ecl-containers, ros-kinetic-ecl-exceptions, ros-kinetic-ecl-formatters, ros-kinetic-ecl-license, ros-kinetic-ecl-linear-algebra, ros-kinetic-ecl-math, ros-kinetic-ecl-mpl, ros-kinetic-ecl-type-traits
Description: Any tools relating to mathematical geometry.
 Primarily featuring polynomials and interpolations.
