Source: ros-eloquent-ecl-core-apps
Section: misc
Priority: optional
Maintainer: Daniel Stonier <d.stonier@gmail.com>
Build-Depends: debhelper (>= 9.0.0), ros-eloquent-ament-cmake-ros, ros-eloquent-ecl-build, ros-eloquent-ecl-command-line, ros-eloquent-ecl-config, ros-eloquent-ecl-containers, ros-eloquent-ecl-converters, ros-eloquent-ecl-devices, ros-eloquent-ecl-errors, ros-eloquent-ecl-exceptions, ros-eloquent-ecl-formatters, ros-eloquent-ecl-geometry, ros-eloquent-ecl-ipc, ros-eloquent-ecl-license, ros-eloquent-ecl-linear-algebra, ros-eloquent-ecl-sigslots, ros-eloquent-ecl-streams, ros-eloquent-ecl-threads, ros-eloquent-ecl-time-lite, ros-eloquent-ecl-type-traits, ros-eloquent-ros-workspace
Homepage: http://wiki.ros.org/ecl_core_apps
Standards-Version: 3.9.2

Package: ros-eloquent-ecl-core-apps
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-eloquent-ecl-build, ros-eloquent-ecl-command-line, ros-eloquent-ecl-config, ros-eloquent-ecl-containers, ros-eloquent-ecl-converters, ros-eloquent-ecl-devices, ros-eloquent-ecl-errors, ros-eloquent-ecl-exceptions, ros-eloquent-ecl-formatters, ros-eloquent-ecl-geometry, ros-eloquent-ecl-ipc, ros-eloquent-ecl-license, ros-eloquent-ecl-linear-algebra, ros-eloquent-ecl-sigslots, ros-eloquent-ecl-streams, ros-eloquent-ecl-threads, ros-eloquent-ecl-time-lite, ros-eloquent-ecl-type-traits, ros-eloquent-ros-workspace
Description: This includes a suite of programs demo'ing various aspects of the ecl_core.
 It also includes various benchmarking and utility programs for use primarily with embedded systems.
